.buttons {
	width: 60px;
	height: 60px;
	font-size: 30;
	border-radius: 8px;
	margin: 3px;
	background-color: #ffffff;
}



.textBox {
	width: 260px;
	height: 60px;
	text-align: right;
	font-size: 30;
	border-radius: 8px;
	margin: 3px;
}

#textBox {
	background-color: #ffffff;
}

#placeholder {
	width: 280px;
	border-style: solid;
	border-color: #003380; 
	background-color: #0066ff;
}